{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="header- text-center mb-3">Inmobiliaria Pelusa Bodegas desde 1991</h1>
  <div class="row align-items-center">
    <div class="col-6">
      <p class="fs-5 text-primary-emphasis">En Inmobiliaria Pelusa, nos especializamos en ofrecer soluciones inmobiliarias 
        personalizadas y de alta calidad. Con años de experiencia en el mercado, nuestro equipo de profesionales está 
        comprometido en ayudarte a encontrar la propiedad perfecta que se ajuste a tus necesidades y presupuesto. 
        Ya sea que estés buscando comprar, vender o alquilar, en Inmobiliaria Pelusa te brindamos un servicio 
        integral y asesoramiento experto en cada paso del proceso. Nos enorgullece nuestra atención al cliente y nuestra capacidad 
        para hacer realidad los sueños de nuestros clientes.</p>
    </div>
    <div class="col-6">
      <img src="{% static 'img/bodega.jpg' %}" class="img-fluid" alt="Cena en Paris">
    </div>
  </div>
</div>
{% endblock %}
